@media only screen and (min-width: 1100px) {
  .header__logo {
    width: 200px;
    height: 58px;
  }

  .header h1 {
    height: 57px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
  }

  #like-prix {
    width: 376px;
    right: 50px;
    display: flex;
  }

  .container__card-media {
    flex-direction: row;
  }

  .bloc-1 {
    flex-direction: row;
  }
  .bloc-1__btn {
    width: 170px;
    margin-left: 10px;
    height: 69px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
  }
  .bloc-1__portrait {
    width: 200px;
    height: 200px;
  }
  .bloc-1 h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 83px;
    margin: 0;
    color: #d3573c;
    white-space: normal;
  }
  .bloc-1 h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
  }
  .bloc-1 h4 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
  .bloc-1 h6 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  .header-media__logo-media {
    margin: 43px 0 100px 100px;
  }

  .item-lightbox__photo,
.item-lightbox__video {
    width: 1050px;
    height: 900px;
  }

  .fa-chevron-left,
.fa-chevron-right {
    font-size: xxx-large;
    margin: 0 20px;
  }

  .btn-submit {
    height: 69px;
    width: 170px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-body p {
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
  }
  .modal-body__text-control {
    width: 600px;
    height: 70px;
  }
  .modal-body textarea {
    width: 600px;
    height: 170px;
  }
  .modal-body label {
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
  }

  #header__tags {
    justify-content: space-evenly;
  }

  #nameHeader {
    width: 600px;
  }

  .content {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: auto;
  }

  .labeltags {
    margin: 10px;
  }

  .containerFiltre {
    display: flex;
  }

  .item-lightbox__photo,
.item-lightbox__video {
    width: 1050px;
    height: 900px;
  }

  .item__photo,
.item__photo {
    height: 300px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 1100px) {
  .header-media__logo-media {
    margin: 40px 0 30px 20px;
  }

  .header__logo {
    width: 200px;
    height: 58px;
  }

  .header h1 {
    height: 57px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
  }

  #like-prix {
    width: 100%;
    right: 0;
    display: flex;
  }

  .container__card-media {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .bloc-1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .bloc-1__portrait {
    width: 200px;
    height: 200px;
  }
  .bloc-1__btn {
    width: 100%;
    margin: 0;
    height: 69px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
  }
  .bloc-1 h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 83px;
    margin: 0;
    color: #d3573c;
    white-space: normal;
  }
  .bloc-1 h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
  }
  .bloc-1 h4 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
  .bloc-1 h6 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  .item-lightbox__photo,
.item-lightbox__video {
    width: 80%;
    height: 900px;
  }

  .fa-chevron-left,
.fa-chevron-right {
    font-size: xxx-large;
    margin: 0 20px;
  }

  .btn-submit {
    height: 69px;
    width: 170px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-body p {
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
  }
  .modal-body__text-control {
    width: 600px;
    height: 70px;
  }
  .modal-body textarea {
    width: 600px;
    height: 170px;
  }
  .modal-body label {
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
  }

  #nameHeader {
    width: 600px;
  }

  .content {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: auto;
  }

  .labeltags {
    margin: 10px;
  }

  .containerFiltre {
    display: none;
  }

  .item-lightbox__photo,
.item-lightbox__video {
    width: 80%;
  }

  .item__photo,
.item__photo {
    height: 300px;
  }
}
@media screen and (max-width: 375px) {
  .header-media__logo-media {
    margin: 40px 0 30px 20px;
  }

  .bloc-1 {
    width: 50%;
  }
  .bloc-1__portrait {
    width: 100px;
    height: 100px;
  }
  .bloc-1__btn {
    border: none;
    position: fixed;
    bottom: 20px;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;
    left: 25%;
    font-family: DM Sans;
  }
  .bloc-1 h2 {
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
  }
  .bloc-1 h3 {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }
  .bloc-1 h4 {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }
  .bloc-1 h6 {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  #header__tags {
    justify-content: space-evenly;
  }

  #like-prix {
    display: none;
  }

  #container-tri {
    display: none;
  }

  .fa-chevron-left,
.fa-chevron-right {
    font-size: larger;
    margin: 0px 13px;
    margin-top: 123px;
  }

  .item-lightbox__photo,
.item-lightbox__video {
    width: 80%;
    margin-top: 140px;
    height: 300px;
  }

  .btn-submit {
    height: 35px;
    width: 170px;
    color: white;
    border: none;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-body p {
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
  }
  .modal-body__text-control {
    width: 100%;
    height: 52px;
  }
  .modal-body textarea {
    width: 100%;
    height: 180px;
  }
  .modal-body label {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
  }

  #nameHeader {
    width: 90%;
  }

  .content {
    width: 100%;
  }

  .formData {
    width: 90%;
  }

  #reserve-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #header__tags {
    order: 2;
    padding: 0;
    width: 80%;
    justify-content: center;
  }

  .header__logo {
    width: 50%;
    height: 37px;
  }

  .header__h1 {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #911c1c;
  }

  .labeltags {
    margin: 2px;
  }

  .containerFiltre {
    display: none;
  }

  .item-lightbox__flex {
    width: 100%;
  }

  .item__photo,
.item__photo {
    height: 200px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo-media {
  width: 200px;
  height: 50px;
  left: 0;
  position: absolute;
}
.header__h1 {
  color: #911c1c;
}
.header li {
  margin: 5px 0;
}

#header__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #911c1c;
  flex-wrap: wrap;
  margin: 20px 0;
}

.check {
  display: none;
}

.labeltags {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 11px;
}

input:checked ~ label {
  background-color: #d3583c4b;
}

.card {
  text-align: center;
  margin-bottom: 30px;
}
.card__portrait {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
.card__name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #d3573c;
}
.card__tags {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin: 0.4em;
}
.card h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;
  color: #d3573c;
}
.card h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #901c1c;
}
.card h4 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.card h5 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
  color: #757575;
}
.card h6 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #911c1c;
}

.container__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lien {
  text-decoration: none;
  margin: 0 60px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #c4c4c466;
}

.btn-submit {
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: #901c1c;
  margin: 20px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.btn-submit:hover {
  background-color: #db8876;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body p {
  margin: 0 0 20px 0;
}
.modal-body__text-control {
  border-radius: 5px;
  border: none;
  box-shadow: none;
}
.modal-body textarea {
  border-radius: 5px;
  border: none;
  box-shadow: none;
}
.modal-body label {
  margin: 10px 0 5px 0;
}

.content {
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
}

.close {
  /*<!--ToDo : Fermer la modale #1 -->*/
  position: absolute;
  right: 35px;
  top: 35px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1.5em;
  color: #e54858;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}

.bground-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #e5e5e5;
}

.content-lightbox {
  margin-inline: auto;
  background: #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.item-lightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.item-lightbox__flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.item-lightbox__titreMedia {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901c1c;
  align-self: self-start;
  margin: 10px 0 10px 30%;
}
.item-lightbox__photo {
  margin-inline: auto;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 25%;
}
.item-lightbox__video {
  margin-inline: auto;
  border-radius: 5px;
  object-fit: cover;
}

.close-lightbox {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
  color: #901c1c;
  cursor: pointer;
}

.close-lightbox:before,
.close-lightbox:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #901c1c;
}

.close-lightbox:before {
  transform: rotate(45deg);
}

.close-lightbox:after {
  transform: rotate(-45deg);
}

.fa-chevron-left,
.fa-chevron-right {
  color: #901c1c;
  font-weight: 900;
}

.header-media__logo-media {
  width: 200px;
  height: 50px;
}

.container__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  width: 350px;
  height: 350px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 45px 45px 45px;
}
.item__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}
.item__photo {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 32%;
}
.item__video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 32%;
}
.item__name h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
}
.item__tagline {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 46px;
}
.item__tagline i {
  color: #911c1c;
  font-size: large;
  margin-left: 5px;
}

#like-prix {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  position: fixed;
  background: #db8876;
  bottom: 0;
  border-radius: 5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
#like-prix i {
  margin-left: 5px;
}

.bloc-1 {
  display: flex;
}
.bloc-1__flex {
  display: flex;
  margin-bottom: 60px;
  flex-direction: column;
}
.bloc-1 h2 {
  margin: 0;
  color: #d3573c;
  white-space: normal;
}
.bloc-1 h3 {
  color: #901c1c;
  margin-top: 10px;
  margin: 0;
}
.bloc-1 h4 {
  margin: 0;
  color: #525252;
}
.bloc-1 h6 {
  color: #911c1c;
}
.bloc-1__btn {
  background: #911c1c;
  border-radius: 5px;
  color: #ffffff;
  border: none;
}
.bloc-1__btn:hover {
  background-color: #db8876;
}
.bloc-1__country {
  height: 80px;
}
.bloc-1__tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}
.bloc-1__portrait {
  border-radius: 100px;
  object-fit: cover;
}

.dropbtn {
  background-color: #911c1c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 69px;
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #db8876;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #db8876;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 0;
}

.dropdown-content a {
  padding: 12px 16px;
  display: flex;
  background: #901c1c;
  justify-content: space-between;
  width: 138px;
  height: 37px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #db8876;
}

.show {
  display: block;
}

.container__card-media {
  display: flex;
  justify-content: space-around;
}

.labelFiltre {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 15px;
}

.containerFiltre {
  margin: 0 0 30px 10%;
  align-items: center;
}

.barFiltre {
  margin: auto;
  width: 90%;
  height: 1px;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
