// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #c4c4c466;
}
.btn-submit {
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: #901c1c;
  margin: 20px 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
  border: none;
}
.btn-submit:hover {
  background-color: #db8876;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    margin: 0 0 20px 0;
  }
  &__text-control {
    border-radius: 5px;
    border: none;
    box-shadow: none;
  }

  & textarea {
    border-radius: 5px;
    border: none;
    box-shadow: none;
  }
  & label {
    margin: 10px 0 5px 0;
  }
}

.content {
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;

  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
}

.close {
  /*<!--ToDo : Fermer la modale #1 -->*/
  position: absolute;
  right: 35px;
  top: 35px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1.5em;
  color: #e54858;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
