.header-media {
  &__logo-media {
    width: 200px;
    height: 50px;
  }
}

.container__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  width: 350px;
  height: 350px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 45px 45px 45px;
  &__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
  }
  &__photo {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 32%;
  }
  &__video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 32%;
  }
  &__name h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    color: #911c1c;
  }
  &__tagline {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 46px;
    & i {
      color: #911c1c;
      font-size: large;
      margin-left: 5px;
    }
  }
}
#like-prix {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  position: fixed;
  background: #db8876;
  bottom: 0;
  border-radius: 5px;
  & i {
    margin-left: 5px;
  }
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

.bloc-1 {
  display: flex;

  &__flex {
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
  }
  & h2 {
    margin: 0;
    color: #d3573c;
    white-space: normal;
  }
  & h3 {
    color: #901c1c;
    margin-top: 10px;
    margin: 0;
  }
  & h4 {
    margin: 0;
    color: #525252;
  }
  & h6 {
    color: #911c1c;
  }
  &__btn {
    background: #911c1c;
    border-radius: 5px;
    color: #ffffff;
    border: none;
  }
  &__btn:hover {
    background-color: #db8876;
  }
  &__country {
    height: 80px;
  }
  &__tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 40px;
  }
  &__portrait {
    border-radius: 100px;
    object-fit: cover;
  }
}
.dropbtn {
  background-color: #911c1c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  border-radius: 5px;
  height: 69px;
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #db8876;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #db8876;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 0;
}

.dropdown-content a {
  padding: 12px 16px;

  display: flex;
  background: #901c1c;
  justify-content: space-between;
  width: 138px;
  height: 37px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #db8876;
}

.show {
  display: block;
}

.container {
  &__card-media {
    display: flex;
    justify-content: space-around;
  }
}

.labelFiltre {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 15px;
}
.containerFiltre {
  margin: 0 0 30px 10%;
  align-items: center;
}

.barFiltre {
  margin: auto;
  width: 90%;
  height: 1px;
  background-color: white;
}
