.header-media {
  &__logo-media {
    margin: 43px 0 100px 100px;
    width: 200px;
    height: 50px;
  }
}

.container__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  width: 350px;
  height: 350px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 45px 45px 45px;
  &__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
  }
  &__photo {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  &__video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  &__name h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    color: #911c1c;
  }
  &__tagline {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 46px;
    & i {
      color: #911c1c;
      font-size: large;
      margin-left: 5px;
    }
  }
}
#like-prix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 376px;
  height: 60px;
  position: fixed;
  background: #db8876;
  bottom: 0;
  right: 50px;
  border-radius: 5px;
  & i {
    margin-left: 5px;
  }
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}

.card-photographer {
  display: grid;
  grid-template-columns: 110px 400px 17px 170px 370px 200px 170px;
  grid-template-rows: 80px 80px 40px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". card-photographer__name . card-photographer__btn . card-photographer__portrait ."
    ". card-photographer__country . . . card-photographer__portrait ."
    ". card-photographer__tags . . . . .";
  margin-bottom: 60px;
  & h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    margin: 0;
    color: #d3573c;
  }
  & h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #901c1c;
    margin-top: 10px;
    margin: 0;
  }
  & h4 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    color: #525252;
  }
  & h6 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #911c1c;
  }
  &__btn {
    background: #911c1c;
    border-radius: 5px;
    width: 170px;
    height: 69px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
}

.card-photographer__name {
  grid-area: card-photographer__name;
  font-family: DM Sans;
  width: 400px;
  height: 83px;
}

.card-photographer__country {
  grid-area: card-photographer__country;
  width: 400px;
  height: 80px;
}

.card-photographer__tags {
  grid-area: card-photographer__tags;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 40px;
}

.card-photographer__btn {
  grid-area: card-photographer__btn;
}

.card-photographer__portrait {
  grid-area: card-photographer__portrait;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

#tri-select {
  height: 60px;
  background: #911c1c;
  color: white;
  width: 170px;
  padding-left: 15px;
  margin-left: 30px;
}
#container-tri {
  margin-bottom: 30px;
  margin-left: 100px;
}
